.u-margin-top-x-large {
	margin-top: 3rem;
}

.u-margin-top-large {
	margin-top: 1.5rem;
}

.u-margin-top-medium {
	margin-top: .75rem;
}

.u-margin-top-small {
	margin-top: .375rem;
}

.u-margin-bottom-x-large {
	margin-bottom: 3rem;
}

.u-margin-bottom-large {
	margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
	margin-bottom: .75rem;
}

.u-margin-bottom-small {
	margin-bottom: .375rem;
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.u-margin-top-x-large {
		margin-top: 4rem;
	}

	.u-margin-top-large {
		margin-top: 2rem;
	}

	.u-margin-top-medium {
		margin-top: 1rem;
	}

	.u-margin-top-small {
		margin-top: .5rem;
	}

	.u-margin-bottom-x-large {
		margin-bottom: 4rem;
	}

	.u-margin-bottom-large {
		margin-bottom: 2rem;
	}

	.u-margin-bottom-medium {
		margin-bottom: 1rem;
	}

	.u-margin-bottom-small {
		margin-bottom: .5rem;
	}

	.u-hidden-on-desktop {
		display: none;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
